#album_text
  %h1 Current tags

.index
  #random_image
    - @tags.each do |tag|
      .image_info
        = link_to tag.name, tag
        = link_to (image_tag tag.photos.last.image), tag
        = link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, tag

  = paginate @tags
  / = link_to 'New Tag', new_tag_path
  %br
